.Chat {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    overflow-y: auto;
    padding-bottom: 80px; /* Space for the form */
    background-color: #13111C;
  }


  
  .response {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
  }
  
  .chat-line {
    display: flex;
    align-items: flex-start;
    padding: 10px 20px;
  }

  
  .user-chat {
    background-color: #221d35 ;
    border-radius: 8px;
  }
  
  .ai-chat {
    background-color: #1c1635 ;
    border-radius: 8px;
  }
  
  .avatar {
    width: 40px !important;
    height: 40px !important;
    border-radius: 50%;
  }
  
  .message {
    color: white;
    margin: 0;
    line-height: 1.5;
    font-family: var(--font-oswald);
    font-size: 20px;
  }
  
  .horizontal-line {
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 20px 0;
  }
  
  .mainForm {
    position: fixed;
    bottom: 0;
    left: 25%;
    right: 25%;
    display: flex;
    margin-bottom: 20px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 20px;
    width: 50%;
  }
  
  .mainForm input {
    flex: 1;
    padding: 12px 20px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.05);
    color: black;
    margin-right: 10px;
    border: none;
    font-family: var(--font-oswald);
  }

  .mainForm input:focus {
    outline: none;
    font-family: var(--font-oswald);
  }
  
  .mainForm input::placeholder {
    color: black;
    font-family: var(--font-oswald);
  }
  
  .mainButton {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: #f5be18;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    font-weight: 900;
    font-size: larger;
  }

  .mainButton:hover {
    background-color: #f2873b;
    transition: background-color 1s ease-in-out;
  }

@media screen and (max-width: 500px) {
  .mainForm {
    width: 250px;
  }
}